<div class="modal animated fadeIn" id="crudControlPlanningEmailModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><span class="fa fa-envelope"></span> Sent Email</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <button id="btn-EmailApproval" type="button" class="btn btn-sm btn-block btn-warning" onclick="sentControlPlanningEmail('Approval')"><span class="fa fa-share-square"></span> To Approval</button>
                @*<button id="btn-EmailLine" type="button" class="btn btn-sm btn-warning" onclick="sentControlPlanningEmail('Line')"><span class="fa fa-share-square"></span> To Line</button>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Close</button>
            </div>
            <input type="hidden" id="ControlPlanningNumberEmail" />
            <input type="hidden" id="ControlPlanningMonthEmail" />
            <input type="hidden" id="ControlPlanningLineIdEmail" />
            <input type="hidden" id="ControlPlanningLineEmail" />
        </div>
    </div>
</div>

@Html.Partial("../System/EmailSender")

<script>

    function sentControlPlanningEmail(action, id, month, Line) {

        var $grid = $("#jqGridMain");
        if (id != "") {
            var rowData = $grid.jqGrid("getRowData", id),
                ApprovalName = rowData.ApprovalName,
                LineId = rowData.LineId,
                StatusName = rowData.StatusName;
        }

        $("#btn-EmailApproval").attr("disabled", true);
        $("#btn-EmailLine").attr("disabled", true);

        if (ApprovalName === "Created" || ApprovalName === "Checked") {
            $("#btn-EmailApproval").removeAttr("disabled");
        } else {
            if (StatusName === "Open" || StatusName === "Sent") {
                $("#btn-EmailLine").removeAttr("disabled");
            }
        }

        switch (action) {
            case "Open":
                $("#ControlPlanningNumberEmail").val(id);
                $("#ControlPlanningMonthEmail").val(month);
                $("#ControlPlanningLineIdEmail").val(LineId);
                $("#ControlPlanningLineEmail").val(Line);
                $('#crudControlPlanningEmailModal').modal('show');
                break;

            case "Approval":

                var ordernumber = $("#ControlPlanningNumberEmail").val();
                var ordermonth = $("#ControlPlanningMonthEmail").val();
                var Line = $("#ControlPlanningLineEmail").val();

                var subject = action + " @ViewBag.Title " + ordernumber;
                var sentto = getApprovalMailList(ordernumber);
                //var attachment1 = "@Url.Action("ControlPlannings","Reports")?OrderNumber=" + ordernumber;
                var attachment1 = "@Url.Action("MasterListKanbanProduction", "Reports")?OrderNumber=" + ordernumber;

                var content = "";
                content += "Please approve the following @ViewBag.Title : <br/>"
                content += "<table>";
                content += "<tr><td width='120'>Number </td><td> : </td><td> " + ordernumber + " </td></tr>";
                content += "<tr><td width='120'>Line</td><td> : </td><td> " + Line + " </td></tr>";
                content += "<tr><td width='120'>Month </td><td> : </td><td> " + ordermonth + " </td></tr>";
                content += "<tr><td width='120'>Attachment </td><td> : </td><td><a id='url-api' href='{urlapi}' target='_blank' class='text-primary btn-confirm'>Click here to open the document</a> </td></tr>";
                content += "</table><br/><br/>";
                content += "Best Regards,<br/>";
                content += "@ViewBag.UserName";

                loadComboApprovalMailList(ordernumber);
                sentEmail("ControlPlanningApproval" ,subject, sentto,"", content, attachment1, '', '', ordernumber);
                $('#crudControlPlanningEmailModal').modal('hide');
                break;

            case "Line":

                var ordernumber = $("#ControlPlanningNumberEmail").val();
                var ordermonth = $("#ControlPlanningMonthEmail").val();
                var Lineid = $("#ControlPlanningLineIdEmail").val();
                var Line = $("#ControlPlanningLineEmail").val();

                var subject = action + " @ViewBag.Title " + ordernumber;
                var sentto = getLineMailList(Lineid);
                var sentcc = "@ViewBag.EmailCC";
                var attachment1 = "@Url.Action("ControlPlannings","Reports")?OrderNumber=" + ordernumber;

                var content = "";
                content += "Please approve the following @ViewBag.Title : <br/>"
                content += "<table>";
                content += "<tr><td width='120'>Number </td><td> : </td><td> " + ordernumber + " </td></tr>";
                content += "<tr><td width='120'>Line</td><td> : </td><td> " + Line + " </td></tr>";
                content += "<tr><td width='120'>Month </td><td> : </td><td> " + ordermonth + " </td></tr>";
                content += "<tr><td width='120'>Attachment </td><td> : </td><td><a id='url-api' href='{urlapi}' class='text-primary btn-confirm'>Click here to open the document</a> </td></tr>";
                content += "</table><br/><br/>";
                content += "Best Regards,<br/>";
                content += "@ViewBag.UserName";

                loadComboLineMailList(Lineid);
                sentEmail("ControlPlanningLine", subject, sentto, sentcc, content, attachment1, null, ordernumber);
                $('#crudControlPlanningEmailModal').modal('hide');
                break;

        }

    }

    function getApprovalMailList(ordernumber) {

        var result = "";

        $.ajax({
            url: '@Url.Action("ControlPlanningApprovalListJson", "Purchase")',
            type: "GET",
            dataType: "JSON",
            async: false,
            data: {
                ordernumber: ordernumber,
                approved: false,
            },
            success: function (response) {

                $.each(response, function (i, raw) {

                    if (result != "") result += ";";
                    result += raw.UserId;

                });

            }
        })

        return result;

    }

    function loadComboApprovalMailList(ordernumber) {

        $.ajax({
            url: '@Url.Action("ControlPlanningApprovalListJson", "Productions")',
            type: "GET",
            dataType: "JSON",
            async: false,
            data: {
                ordernumber: ordernumber,
                approved: false,
            },
            success: function (response) {

                var id = "#EmailTo";

                $(id).html("");
                $.each(response, function (i, raw) {
                    $(id).append('<option value="' + raw.UserId + '" selected>' + raw.UserName + '</option>');
                });

                $(id).selectpicker("refresh")
            }
        })

    }

    function getLineMailList(Lineid) {

        var result = "";

        $.ajax({
            url: '@Url.Action("LineContactListJson", "Lines")',
            type: "GET",
            dataType: "JSON",
            async: false,
            data: {
                LineId: Lineid,
                EmailContact: true,
            },
            success: function (response) {

                $.each(response, function (i, raw) {

                    if (result != "") result += ";";
                    result += raw.Email;

                });

            }
        })

        return result;

    }

    function loadComboLineMailList(Lineid) {

        $.ajax({
            url: '@Url.Action("LineContactListJson", "Lines")',
            type: "GET",
            dataType: "JSON",
            async: false,
            data: {
                LineId: Lineid,
                EmailContact: true,
            },
            success: function (response) {

                var id = "#EmailTo";

                $(id).html("");
                $.each(response, function (i, raw) {
                    $(id).append('<option value="' + raw.Email + '" selected>' + raw.ContactName + '</option>');
                });

                $(id).selectpicker("refresh")
            }
        })

    }
</script>
