@{ Layout = ""; }

<!DOCTYPE html>

<html lang="en">
<head>
    @Html.Partial("_VSSPLayout/_app-meta")
    @*<title>@ViewBag.Title</title>*@

    @Styles.Render("~/Core/CSS/Icons")
    @Styles.Render("~/Core/CSS/Style")

    <!-- Bootstrap and necessary plugins-->
    @Scripts.Render("~/Core/JS/Plugins")
    @Scripts.Render("~/Core/JS/Main")
    @Scripts.Render("~/Core/JS/jqGrid")

    <style>
        @{
            var imgSrc = "";
        }

        @if (Session["BackgroundImage"] == null)
        {
            imgSrc = "/_VSSPAssets/Images/Background/plant-site.png";
        }
        else
        {
            var base64 = Convert.ToBase64String((byte[])Session["BackgroundImage"]);
            imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
        }

        body {
            background-image:url(@imgSrc);
            background-repeat:no-repeat;
            background-size:100%
        }

        .card {
            opacity:0.85;
        }

        @@media only screen and (max-width: 1200px) {
            body {
                background-size: auto;
                background-position: center;
            }
        }
    </style>

</head>

<body class="app flex-row align-items-center animated fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            @if (Session["CompLogo"] == null)
                            {
                                <img src="~/_VSSPAssets/Images/Logo/logo-vssp-title.png" width="125" height="35" alt="vssp CoreUI">
                            }
                            else
                            {
                                var base64 = Convert.ToBase64String((byte[])Session["CompLogo"]);
                                var imgLogo = String.Format("data:image/jpg;base64,{0}", base64);

                                <img src="@imgLogo" width="125" height="35" alt="@Session["CompName"].ToString()">
                            }
                            <p class="text-muted">Type your email already registered</p>
                            @using (Html.BeginForm("WebLoginRequestReset", null, FormMethod.Post))
                            {

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input type="email" id="emailaddress" name="emailaddress" class="form-control" placeholder="Email Address" required>
                                </div>

                                <label class="label-danger text-danger" hidden="hidden">Email address not register in @Session["AppID"].ToString()!</label>
                                <p class="text-muted">After you submit the request form, system will sent you an email reset password link. Make sure you type a valid email address.</p>


                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" id="btn-submit" onclick="EmailValidation()" class="btn btn-outline-dark btn-process px-4">Submit Request</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="@Url.Action("Login","Account")" class="btn btn-link text-dark px-0">Login?</a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="card text-white bg-dark py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <h1>Reset Password</h1>
                            <hr />
                            <div>
                                @*<h4>Forgot Password</h4>*@
                                <p>Welcome to @Session["CompID"].ToString() @Session["AppID"].ToString() @Session["AppVersion"].ToString().@Session["AppRevision"].ToString().@Session["AppBuild"].ToString()</p>
                                <br />
                                <a href="@Url.Action("MainIndex","Index")" class="btn btn-outline-light mt-5"><span class="icon-home"></span> Home Websites</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

@Scripts.Render("~/Core/JS/MainBottom")

<script>
    $(document).ready(function () {
        var pathname = window.location.pathname;
        window.history.pushState(null, null, pathname.toLowerCase());
    })
    function EmailValidation() {

        if ($("#emailaddress").val() == "") {   // test for validity
            $("#emailaddress").focus();
            $(".label-danger").removeAttr("hidden");
            $(".label-danger").html("Please type email address.");
            return false;
        } else {
            $(".label-danger").attr("hidden","hidden");
        }

        var id = $("#emailaddress").val()
        $.ajax({
            url: '@Url.Action("CekUser", "Account")',
            type: "GET",
            dataType: "JSON",
            data: {
                userid: id,
            },
            success: function (response) {
                $.each(response, function (i, mbr) {
                    if (mbr.CountAccount == 0) {
                        $(".label-danger").removeAttr("hidden");
                        $(".label-danger").html("Your email not register in " + @Session["AppID"].ToString() + "!");
                    } else {
                        $(".label-danger").removeAttr("hidden");
                        $(".label-danger").attr("hidden", "hidden");
                        $("Form").submit();
                    };

                });
            },
            failed: function (response) {
                alert("Error load data " + id);
            }
        });
    }

    $("input").focus(function () {
        setTimeout(function () {
            return StopProcess();
        }, 500)
    })
</script>