@model IEnumerable<Core.VSSP.Models.UserTypeListModel>

<!-- toast-alert -->
@Html.Partial("_VSSPLayout/Messages/toast_alert")


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <i class="@ViewBag.IconClass"></i> @ViewBag.Title
            </div>
            <div id="searchFilter" class="col-md-4"></div>
        </div>
    </div>

    <div class="card-body" style="padding:2px">
        <div class="table-responsive">
            <table id="GridData1" class="table table-bordered table-hover table-sm">
                <thead class="bg-secondary">
                    <tr>
                        <th>No.</th>
                        <th>ID</th>
                        <th>User Type</th>
                        <th>Remark</th>
                        <th>Menu List</th>
                        <th class="excludeColumn">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:50px; text-align:center">@Html.DisplayFor(m => item.No)</td>
                            <td>@Html.DisplayFor(m => item.ID)</td>
                            <td>@Html.DisplayFor(m => item.UserType)</td>
                            <td>@Html.DisplayFor(m => item.Remark)</td>
                            <td>@Html.DisplayFor(m => item.MenuList)</td>
                            <td class="excludeColumn" style="width:50px; text-align:center">

                                @*@Html.ActionLink(" ", "UserTypeEdit", "Account", new { ID = item.ID }, new { FormMethod.Post, @class = "fa fa-edit", @datatoogle = "tooltip", @title = "Edit " + @ViewBag.Title + " [ " + @item.UserType + " ]" })*@
                                <a href="@Url.Action("UserTypeEdit","Account", new { ID = item.ID })" title="Edit @ViewBag.Title [ @item.UserType ]"><b><i class="fa fa-edit"></i></b></a>
                                |
                                <a href="#" data-target="#@item.ID" data-toggle="modal" style="color:red" title="Delete @ViewBag.Title [ @item.UserType ]"><b><i class="fa fa-trash-o"></i></b></a>


                                <!-- Remove User Type Modal -->
                                <div class="modal animated fadeIn" id="@item.ID" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-danger" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"> Delete @ViewBag.Title</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("UserTypeDelete", null, FormMethod.Post, new { @class = "smart-form client-form", role = "form", id = "smart-form-register" }))
                                            {
                                                <div class="modal-body">
                                                    Are you sure want to remove the @ViewBag.Title <strong> @Html.DisplayFor(m => item.UserType) </strong>?

                                                    <input type="hidden" class="form-control" name="ID" value="@Html.DisplayFor(m => item.ID)" />
                                                </div>
                                                <div class="modal-footer clearfix">
                                                    <button id="myAllert" type="submit" class="btn btn-primary" dismiss="modal"> Yes</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel</button>
                                                </div>
                                            }
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <!-- /.Remove User Type modal -->

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div id="pageInfo" class="row"></div>
        </div>
    </div>
    <div class="card-footer bg-gray-active">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-success btn-sm" type="button" style="width:80px" onclick="location.href='@Url.Action("UserTypeAdd", "Account" )'"><i class="fa fa-pencil-square-o"></i> Add</button>
                    <button class="btn btn-success btn-sm" type="submit" style="width:80px"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row">
                        <label class="font-small">Show : </label>
                        <div id="pageLength"></div>
                        <label class="font-small"> Rows</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="pagination"></div>
                </div>
            </div>
        </form>
    </div>
</div>

@Html.Partial("_VSSPLayout/VSSPScript/DataTableScript")
