<div class="modal animated fadeIn" id="importFinishGoodModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dark" role="document">
        <div class="modal-content">
            <form id="importFinishGoodForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h6 class="modal-title"><span class="fa fa-cloud-upload"></span> Import @ViewBag.Title</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body" style="padding:2px">
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input form-control-sm" id="file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="loadExcel()">
                                <label class="custom-file-label" for="file-upload">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#FinishGood" role="tab">
                                FinishGood
                                <i id="errorFinishGood"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" data-toggle="tab" href="#Relation" role="tab">
                                Raw Material
                                <i id="errorRelation"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger @ViewBag.canConfidential" data-toggle="tab" href="#Price" role="tab">
                                Price
                                <i id="errorPrice"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="FinishGood" role="tabpanel">
                            <div class="card-body" style="padding:2px 4px 2px 2px">
                                <table id="jqGridImport"></table>
                            </div>
                        </div>
                        <div class="tab-pane" id="Price" role="tabpanel">
                            <div class="card-body" style="padding:2px 4px 2px 2px">
                                <table id="jqGridImportPrice"></table>
                            </div>
                        </div>
                        <div class="tab-pane" id="Relation" role="tabpanel">
                            <div class="card-body" style="padding:2px 4px 2px 2px">
                                <table id="jqGridImportRelation"></table>
                            </div>
                        </div>
                    </div>
                    <div id="importFinishGoodError"></div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="false" id="replace">
                            <label class="custom-control-label" for="replace"><small> Replace Existing</small></label>
                        </div>
                    </div>
                    <a href="~/Document/Template/08. Template Part Finish Good.xlsx" target="_blank" class="btn btn-link" style="text-decoration:none">
                        <span><i class="fa fa-cloud-download"></i> Download Templates</span>
                    </a>
                    <button id="btnSubmitImportFinishGood" type="button" class="btn btn-sm btn-primary" onclick="submitImport()"><span class="fa fa-dot-circle-o"></span> Submit</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-close"></span> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function importFinishGood() {
        $('.custom-file-input').siblings(".custom-file-label").addClass("selected").html("Upload template file here...");
        $("#jqGridImport").jqGrid("clearGridData");
        $("#jqGridImportPrice").jqGrid("clearGridData");
        $("#jqGridImportRelation").jqGrid("clearGridData");
        $("#btnSubmitImportFinishGood").attr({ 'disabled': "disabled" });
        $('#importFinishGoodError').html("");
        $('#errorFinishGood').html("");
        $('#errorPrice').html("");
        $('#errorRelation').html("");
        $('a[href="#FinishGood"]').click();
        $('#replace').prop("checked",false);

        $('#importFinishGoodModal').modal('show');
    }

    $(function () {
        $grid = $("#jqGridImport").jqGrid({
            url: '@Url.Action("ImportJson", "Customers")',
            datatype: "json",
            mtype: "GET",
            postData: {
                formaction: "FinishGood",
            },
            colModel: [
                { label: 'Status', name: 'Status', editable: false, align: 'center', fixed: true, width: 40, formatter: statusImportFormatter },
                { label: 'Customer Id', key: true, name: 'CustomerId', editable: false, align: 'left', fixed: true, width: 80 },
                { label: 'Part Number', key: true, name: 'PartNumber', editable: false, align: 'left', fixed: true, width: 100 },
                { label: 'Customer Part Number', key: true, name: 'PartNumberCustomer', editable: false, align: 'left', fixed: true, width: 100 },
                { label: 'Unique Number', key: true, name: 'UniqueNumber', editable: false, align: 'left', fixed: true, width: 100 },
                { label: 'Part Name', name: 'PartName', editable: false, align: 'left', fixed: true, width: 150 },
                { label: 'Unit Model', name: 'CustomerUnitModel', editable: false, align: 'left' },
                { label: 'Category', name: 'CategoryId', editable: false, align: 'left' },
                { label: 'Packing', name: 'PackingId', editable: false, align: 'left' },
                { label: 'Area', name: 'AreaId', editable: false, align: 'left' },
                { label: 'Location', name: 'LocationId', editable: false, align: 'left' },
                { label: 'Units', name: 'UnitLevel1', editable: false, align: 'center' },
                { label: 'Unit', name: 'UnitLevel2', editable: false, align: 'center' },
                { label: 'Unit Qty', name: 'UnitQty', editable: false, fixed: true, width: 50, align: 'center' },
                { label: 'Pass Through', name: 'PassThrough', align: 'center', fixed: false, width: 80, formatter: statusImportFormatter },
                { label: 'Result', name: 'Result', editable: false, align: 'left', width: 160, fixed: true},
            ],
            gridview: true,
            loadonce: true,
            //pager: '#jqGridPagerImport',
            pgbuttons: false,
            pgtext: null,
            viewrecords: false,
            height: 167,
            width: 'auto',
            rowNum: 9999999,
            rownumbers: true,
            rownumWidth: 40,
            autowidth: false,
            shrinkToFit: false,
            fromServer: true,
            loadComplete: function () {
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], true);
                }
            },
        })

        $grid2 = $("#jqGridImportPrice").jqGrid({
            url: '@Url.Action("ImportJson", "Customers")',
            datatype: "json",
            mtype: "GET",
            postData: {
                formaction: "FinishGood",
            },
            colModel: [
                { label: 'Customer Id', name: 'CustomerId', key: true, width: 100 },
                { label: 'Part Number', name: 'PartNumber', key: true, width: 100 },
                { label: 'Start Date', name: 'StartDate', editable: false, align: 'center', fixed: true, width: 80, formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d M Y" } },
                { label: 'End Date', name: 'EndDate', editable: false, align: 'center', fixed: true, width: 80, formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d M Y" } },
                { label: 'Price', name: 'Price', width: 100, formatter: "number" },
                { label: 'Status', name: 'Status', editable: false, align: 'center', fixed: true, width: 40, formatter: statusImportFormatter },
                { label: 'Result', name: 'Result', editable: false, align: 'left', width: 160, fixed: true },
            ],
            gridview: true,
            loadonce: true,
            pager: '#jqGridPagerImportPrice',
            pgbuttons: false,
            pgtext: null,
            viewrecords: false,
            height: 183,
            width: 'auto',
            rowNum: 9999999,
            rownumbers: true,
            rownumWidth: 40,
            autowidth: false,
            shrinkToFit: false,
            fromServer: true,
            loadComplete: function () {
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], true);
                }
            },
        })

        $grid2 = $("#jqGridImportRelation").jqGrid({
            url: '@Url.Action("ImportJson", "Customers")',
            datatype: "json",
            mtype: "GET",
            postData: {
                formaction: "FinishGood",
            },
            colModel: [
                { label: 'Customer', name: 'CustomerId', key: true, width: 100 },
                { label: 'Part Number', name: 'PartNumber', key: true },
                { label: 'Supplier', name: 'SupplierId', align: 'center', fixed: true, width: 60 },
                { label: 'Raw Material', name: 'PartNumberRawMaterial' },
                { label: 'Qty Usage', name: 'QtyUsage', align: 'center', width: 100, formatter: "number" },
                { label: 'Start Date', name: 'StartDate', editable: false, align: 'center', fixed: true, width: 80, formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d M Y" } },
                { label: 'End Date', name: 'EndDate', editable: false, align: 'center', fixed: true, width: 80, formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d M Y" } },
                { label: 'Status', name: 'Status', editable: false, align: 'center', fixed: true, width: 40, formatter: statusImportFormatter },
                { label: 'Result', name: 'Result', editable: false, align: 'left', width: 120, fixed: true },
            ],
            gridview: true,
            loadonce: true,
            pager: '#jqGridPagerImportRelation',
            pgbuttons: false,
            pgtext: null,
            viewrecords: false,
            height: 183,
            width: 'auto',
            rowNum: 9999999,
            rownumbers: true,
            rownumWidth: 40,
            autowidth: false,
            shrinkToFit: false,
            fromServer: true,
            loadComplete: function () {
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], true);
                }
            },
        })

    });

    function reloadGridImport() {

        $("#jqGridImport").jqGrid('setGridParam', {
        }).trigger('reloadGrid');

        $("#jqGridImportPrice").jqGrid('setGridParam', {
        }).trigger('reloadGrid');

        $("#jqGridImportRelation").jqGrid('setGridParam', {
        }).trigger('reloadGrid');

    };

    function statusImportFormatter(cellvalue, options, rowObject) {
        if (cellvalue == true) {
            return "<span class='fa fa-check text-success'></span>"
        } else {
            return "<span class='fa fa-times text-danger'></span>"
        }
    }

    function loadExcel() {
        $('#importFinishGoodError').html("");
        $('#errorFinishGood').html("");
        $('#errorPrice').html("");
        $('#errorRelation').html("");

        var replace = $('#replace').prop("checked");

        var gridArrayFinishGood = [];
        var gridArrayFinishGoodPrice = [];
        var gridArrayFinishGoodRelation = [];

        $("#jqGridImport")[0].grid.beginReq();
        $("#jqGridImportPrice")[0].grid.beginReq();
        $("#jqGridImportRelation")[0].grid.beginReq();

        var fileUpload = $("#file-upload").get(0);
        var files = fileUpload.files;

        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        fileData.append('formaction', 'FinishGood-validation');
        fileData.append('canConfidential', '@ViewBag.canConfidential');

        $.ajax({
            url: '@Url.Action("ImportJson", "Customers")',
            type: "POST",
            dataType: "JSON",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (response) {

                try {
                    var iseror = response;
                    iseror = iseror.substring(0, 5);

                    if (iseror == "Error") {
                        var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error Found!</b><br/>' + response + '</small></div>'
                        $('#importFinishGoodError').html(errMsg);
                        $("#jqGridImport").jqGrid("clearGridData");
                        $("#jqGridImportPrice").jqGrid("clearGridData");
                        $("#jqGridImportRelation").jqGrid("clearGridData");
                        $("#jqGridImport")[0].grid.endReq();
                        $("#jqGridImportPrice")[0].grid.endReq();
                        $("#jqGridImportRelation")[0].grid.endReq();
                        return false;
                    }
                } catch {
                    // nothing
                }

                $("#jqGridImport").jqGrid("clearGridData");
                $("#jqGridImportPrice").jqGrid("clearGridData");
                $("#jqGridImportRelation").jqGrid("clearGridData");

                var failed = 0;
                var failedFinishGood = 0;
                var failedPrice = 0;
                var failedRelation = 0;

                if (response.ImportFinishGood.length > 0 || response.ImportFinishGoodPrice.length > 0 || response.ImportFinishGoodRelation.length > 0) {
                    $.each(response.ImportFinishGood, function (i, item) {

                        if (item.Status === false) {
                            failed += 1;
                            failedFinishGood += 1;
                        }

                        gridArrayFinishGood.push(
                            {
                                Status: item.Status,
                                CustomerId: item.CustomerId,
                                CustomerUnitModel: item.CustomerUnitModel,
                                PartNumber: item.PartNumber,
                                PartNumberCustomer: item.PartNumberCustomer,
                                UniqueNumber: item.UniqueNumber,
                                PartName: item.PartName,
                                CategoryId: item.CategoryId,
                                AreaId: item.AreaId,
                                LocationId: item.LocationId,
                                UnitLevel1: item.UnitLevel1,
                                UnitLevel2: item.UnitLevel2,
                                UnitQty: item.UnitQty,
                                PassThrough: item.PassThrough,
                                Result: item.Result
                            });
                    });

                    $.each(response.ImportFinishGoodPrice, function (i, item) {

                        if (item.Status === false) {
                            failed += 1;
                            failedPrice += 1;
                        }

                        gridArrayFinishGoodPrice.push(
                            {
                                CustomerId: item.CustomerId,
                                PartNumber: item.PartNumber,
                                StartDate: item.StartDate,
                                EndDate: item.EndDate,
                                Price: item.Price,
                                Status: item.Status,
                                Result: item.Result
                            });
                    });

                    $.each(response.ImportFinishGoodRelation, function (i, item) {

                        if (item.Status === false) {
                            failed += 1;
                            failedRelation += 1;
                        }

                        gridArrayFinishGoodRelation.push(
                            {
                                CustomerId: item.CustomerId,
                                PartNumber: item.PartNumber,
                                SupplierId: item.SupplierId,
                                PartNumberRawMaterial: item.PartNumberRawMaterial,
                                QtyUsage: item.QtyUsage,
                                StartDate: item.StartDate,
                                EndDate: item.EndDate,
                                Status: item.Status,
                                Result: item.Result
                            });
                    });

                    if (failed > 0) {
                        var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error Found!</b><br/>Upload has been succesfull with ' + failed + ' status error. Please fixing your excel template data with error!</small></div>'
                        $('#importFinishGoodError').html(errMsg);
                        if (replace == false) {
                            $("#btnSubmitImportFinishGood").attr({ 'disabled': "disabled" });
                        } else {
                            $('#btnSubmitImportFinishGood').removeAttr('disabled');
                        }

                        if (failedFinishGood > 0) {
                            var errFinishGood = '<span class="badge badge-pill badge-danger">' + failedFinishGood + '</span>'
                            $('#errorFinishGood').html(errFinishGood);
                        }

                        if (failedPrice > 0) {
                            var errPrice = '<span class="badge badge-pill badge-danger">' + failedPrice + '</span>'
                            $('#errorPrice').html(errPrice);
                        }

                        if (failedRelation > 0) {
                            var errRelation = '<span class="badge badge-pill badge-danger">' + failedRelation + '</span>'
                            $('#errorRelation').html(errRelation);
                        }

                    } else {
                        $('#btnSubmitImportFinishGood').removeAttr('disabled');
                    }
                }
                else {
                    var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error Upload!</b><br/>Invalid template or no records found.</small></div>'
                    $('#importFinishGoodError').html(errMsg);
                    $("#btnSubmitImportFinishGood").attr({ 'disabled': "disabled" });
                }

                $("#jqGridImport").jqGrid('setGridParam', { data: gridArrayFinishGood });
                $("#jqGridImport")[0].grid.endReq();
                $("#jqGridImport").trigger('reloadGrid');

                $("#jqGridImportPrice").jqGrid('setGridParam', { data: gridArrayFinishGoodPrice });
                $("#jqGridImportPrice")[0].grid.endReq();
                $("#jqGridImportPrice").trigger('reloadGrid');

                $("#jqGridImportRelation").jqGrid('setGridParam', { data: gridArrayFinishGoodRelation });
                $("#jqGridImportRelation")[0].grid.endReq();
                $("#jqGridImportRelation").trigger('reloadGrid');

            },
            error: function (xhr, desc, err) {

                var respText = "";
                try {
                    respText = eval(xhr.responseText);
                } catch {
                    respText = xhr.responseText;
                }

                var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error ' + xhr.status + '!</b><br/>' + respText + '</small></div>'
                $('#importFinishGoodError').html(errMsg);
            }
        });
    }

    function submitImport() {

        var replace = $('#replace').prop("checked");
        $('#importFinishGoodError').html("");
        $('#errorFinishGood').html("");
        $('#errorPrice').html("");
        $('#errorRelation').html("");

        $('#btnSubmitImportFinishGood').blur();

        var gridArrayFinishGood = [];
        var gridArrayFinishGoodPrice = [];
        var gridArrayFinishGoodRelation = [];

        $("#jqGridImport")[0].grid.beginReq();
        $("#jqGridImportPrice")[0].grid.beginReq();
        $("#jqGridImportRelation")[0].grid.beginReq();

        var fileUpload = $("#file-upload").get(0);
        var files = fileUpload.files;

        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        fileData.append('replace', replace);
        fileData.append('formaction', 'FinishGood');
        fileData.append('canConfidential', '@ViewBag.canConfidential');

        $.ajax({
            url: '@Url.Action("crudImportJson", "Customers")',
            type: "POST",
            dataType: "JSON",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (response) {
                try {
                    var iseror = response;
                    iseror = iseror.substring(0, 5);

                    if (iseror == "Error") {
                        var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error Found!</b><br/>' + response + '</small></div>'
                        $('#importFinishGoodError').html(errMsg);
                        $("#jqGridImport").jqGrid("clearGridData");
                        $("#jqGridImportPrice").jqGrid("clearGridData");
                        $("#jqGridImportRelation").jqGrid("clearGridData");
                        $("#jqGridImport")[0].grid.endReq();
                        $("#jqGridImportPrice")[0].grid.endReq();
                        $("#jqGridImportRelation")[0].grid.endReq();
                        return false;
                    }
                } catch {
                    // nothing
                }

                $("#jqGridImport").jqGrid("clearGridData");
                $("#jqGridImportPrice").jqGrid("clearGridData");
                $("#jqGridImportRelation").jqGrid("clearGridData");

                var failed = 0;
                var failedFinishGood = 0;
                var failedPrice = 0;
                var failedRelation = 0;
                var icount = 0;

                if (response.ImportFinishGood.length > 0 || response.ImportFinishGoodPrice.length > 0 || response.ImportFinishGoodRelation.length > 0) {
                    if (response.ImportFinishGood.length > 0 || response.ImportFinishGoodPrice.length > 0 || response.ImportFinishGoodRelation.length > 0) {
                        $.each(response.ImportFinishGood, function (i, item) {

                            icount += 1;
                            if (item.Status === false) {
                                failed += 1;
                                failedFinishGood += 1;
                            }

                            gridArrayFinishGood.push(
                                {
                                    Status: item.Status,
                                    CustomerId: item.CustomerId,
                                    CustomerUnitModel: item.CustomerUnitModel,
                                    PartNumber: item.PartNumber,
                                    PartNumberCustomer: item.PartNumberCustomer,
                                    UniqueNumber: item.UniqueNumber,
                                    PartName: item.PartName,
                                    CategoryId: item.CategoryId,
                                    AreaId: item.AreaId,
                                    LocationId: item.LocationId,
                                    UnitLevel1: item.UnitLevel1,
                                    UnitLevel2: item.UnitLevel2,
                                    UnitQty: item.UnitQty,
                                    PassThrough: item.PassThrough,
                                    Result: item.Result
                                });
                        });

                        $.each(response.ImportFinishGoodPrice, function (i, item) {

                            icount += 1;
                            if (item.Status === false) {
                                failed += 1;
                                failedPrice += 1;
                            }

                            gridArrayFinishGoodPrice.push(
                                {
                                    CustomerId: item.CustomerId,
                                    PartNumber: item.PartNumber,
                                    StartDate: item.StartDate,
                                    EndDate: item.EndDate,
                                    Price: item.Price,
                                    Status: item.Status,
                                    Result: item.Result
                                });
                        });

                        $.each(response.ImportFinishGoodRelation, function (i, item) {

                            icount += 1;
                            if (item.Status === false) {
                                failed += 1;
                                failedRelation += 1;
                            }

                            gridArrayFinishGoodRelation.push(
                                {
                                    CustomerId: item.CustomerId,
                                    PartNumber: item.PartNumber,
                                    SupplierId: item.SupplierId,
                                    PartNumberRawMaterial: item.PartNumberRawMaterial,
                                    QtyUsage: item.QtyUsage,
                                    StartDate: item.StartDate,
                                    EndDate: item.EndDate,
                                    Status: item.Status,
                                    Result: item.Result
                                });
                        });


                        if (failed > 0) {
                            var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error Found!</b><br/>Upload has been succesfull with ' + failed + ' status error. Please fixed first your excel data with error!</small></div>'
                            $('#importFinishGoodError').html(errMsg);
                            $("#btnSubmitImportFinishGood").attr({ 'disabled': "disabled" });
                            if (failedFinishGood > 0) {
                                var errFinishGood = '<span class="badge badge-pill badge-danger">' + failedFinishGood + '</span>'
                                $('#errorFinishGood').html(errFinishGood);
                            }
                            if (failedPrice > 0) {
                                var errPrice = '<span class="badge badge-pill badge-danger">' + failedPrice + '</span>'
                                $('#errorPrice').html(errPrice);
                            }
                            if (failedRelation > 0) {
                                var errRelation = '<span class="badge badge-pill badge-danger">' + failedRelation + '</span>'
                                $('#errorRelation').html(errRelation);
                            }
                        }
                    } else {
                        $("#btnSubmitImportFinishGood").attr({ 'disabled': "disabled" });
                    }

                    showToast("Success", "Import " + icount + " records has been processed succesfully");
                    reloadGridList();

                }
                else {
                    var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error Upload!</b><br/>Invalid template or no records found.</small></div>'
                    $('#importFinishGoodError').html(errMsg);
                    $("#btnSubmitImportFinishGood").attr({ 'disabled': "disabled" });
                };

                // set the new data
                $("#jqGridImport").jqGrid('setGridParam', { data: gridArrayFinishGood });
                $("#jqGridImport")[0].grid.endReq();
                $("#jqGridImport").trigger('reloadGrid');

                $("#jqGridImportPrice").jqGrid('setGridParam', { data: gridArrayFinishGoodPrice });
                $("#jqGridImportPrice")[0].grid.endReq();
                $("#jqGridImportPrice").trigger('reloadGrid');

                $("#jqGridImportRelation").jqGrid('setGridParam', { data: gridArrayFinishGoodRelation });
                $("#jqGridImportRelation")[0].grid.endReq();
                $("#jqGridImportRelation").trigger('reloadGrid');

                //$('#importFinishGoodModal').modal('hide');
            },
            error: function (xhr, desc, err) {
                var respText = "";
                try {
                    respText = eval(xhr.responseText);
                } catch {
                    respText = xhr.responseText;
                }

                var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error ' + xhr.status + '!</b><br/>' + respText + '</small></div>'
                $('#importFinishGoodError').html(errMsg);

                $("#jqGridImport")[0].grid.endReq();
                $("#jqGridImportPrice")[0].grid.endReq();
                $("#jqGridImportRelation")[0].grid.endReq();

            }
        });
    }

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $('#replace').change(function () {
        if (this.checked)
            $('#replace').val(true);
        else
            $('#replace').val(false);
    });


</script>
