@model Core.VSSP.Models.ExportOptionModel

<section class="app-section" id="Measurements-Units">
    <div class="card card-accent-secondary">
        <div class="card-header bg-white">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-title">
                        <i class="@ViewBag.IconClass"></i> @ViewBag.Title
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm mb-1">
                        <input id="searchFilter" name="searchFilter" type="text" class="form-control border-secondary" placeholder="Search key here...">
                        <div class="input-group-append">
                            <button id="btnFilter" type="button" class="btn btn-secondary" onclick="reloadGridUnits()"><i class="fa fa-search"></i> Find</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding:2px 4px 2px 2px">
            <table id="jqGridMain"></table>
            <div id="jqGridPagerMain"></div>
        </div>
        <div class="card-footer bg-gray-active">
            <div class="row">
                <div class="col-md-8" style="padding:2px">
                    <button class="btn btn-sm btn-outline-dark" type="button" style="width:80px" onclick="addUnits()" @ViewBag.canCreate><i class="fa fa-pencil-square-o"></i> Create</button>
                    <button class="btn btn-sm btn-outline-dark" type="button" style="width:80px" onclick="importUnits()" @ViewBag.canCreate><i class="fa fa-cloud-upload"></i> Import</button>
                    <button class="btn btn-sm btn-outline-dark" type="button" style="width:80px" onclick="reloadGridUnits()"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-md-4 pull-right" style="padding:2px">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <button id="export" type="button" class="btn btn-primary" style="width:80px"><i class="fa fa-file-text-o"></i> Export</button>
                        </div>
                        @Html.DropDownListFor(model => model.ExportOption,
                        new SelectList(Model.ExportList, "ExportID", "ExportName"),
                        new { @id = "ExportOption", @class = "form-control border-primary" })

                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("UnitsPartial/Import")
    @Html.Partial("UnitsPartial/Create")
    @Html.Partial("UnitsPartial/Update")
    @Html.Partial("UnitsPartial/Delete")

</section>

<script>

    /* Grid Units */

    $(function () {
        var filterData = $('#searchFilter').val();
        $grid = $("#jqGridMain").jqGrid({
            url: '@Url.Action("UnitsListJson", "Measurements")',
            datatype: "json",
            mtype: "GET",
            postData: {
                searchFilter: filterData,
            },
            colModel: [
                { label: 'Unit Id', key: true, name: 'UnitId', editable: false, align: 'left', fixed: true, width: 80 },
                { label: 'Unit Name', name: 'UnitName', editable: false, align: 'left', fixed: true, width: 180  },
                { label: 'Parent Id', name: 'ParentId', hidden: true },
                { label: 'Unit Level', name: 'UnitLevel', hidden: true },
                { label: 'Remarks', name: 'Remarks', editable: false, align: 'left' },
                { label: 'User Id', name: 'UserID', editable: false, fixed: true, width: 100, align: 'left' },
                { label: 'Updated', name: 'EditDate', editable: false, align: 'center', fixed: true, width: 100, formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d M Y H:i" } },
                { label: 'Action', name: 'Action', editable: false, align: 'center', fixed: true, width: 60, formatter: actionFormatter },
            ],
            gridview: true,
            loadonce: true,
            pager: '#jqGridPagerMain',
            rowNum: 20,
            rowList: [20,50,100],
            viewrecords: true,
            //height: 'auto',
            //width: 'auto',
            rownumbers: true,
            rownumWidth: 40,
            autoresizeOnLoad: true,
            autowidth: true,
            shrinkToFit: false,
            fromServer: true,
            subGrid: true, // set the subGrid property to true to show expand buttons for each row
            subGridRowExpanded: showUnitChildGrid, // javascript function that will take care of showing the child
            loadComplete: function () {
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], true);
                }
            },
        }),
        $('#jqGridMain').jqGrid('navGrid', '#jqGridPagerMain', { search: false, edit: false, add: false, del: false });
    });

    function showUnitChildGrid(parentRowID, parentRowKey) {
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";

        // send the parent row primary key to the server so that we know which grid to show
        //var childGridURL = parentRowKey + ".json";

        // add a table and pager HTML elements to the parent grid row - we will render the child grid here
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');

        $("#" + childGridID).jqGrid({
            url: '@Url.Action("UnitsListLevel2Json", "Measurements")',
            mtype: "GET",
            datatype: "json",
            postData: {unitid : parentRowKey},
            page: 1,
            colModel: [
                { label: 'Unit Id', key: true, name: 'UnitId', editable: false, align: 'left', fixed: true, width: 80 },
                { label: 'Unit Name', name: 'UnitName', editable: false, align: 'left', fixed: true, width: 180 },
                { label: 'Parent Id', name: 'ParentId', hidden: true },
                { label: 'Unit Level', name: 'UnitLevel', hidden: true },
                { label: 'Remarks', name: 'Remarks', editable: false, align: 'left' },
                { label: 'User Id', name: 'UserID', editable: false, fixed: true, width: 100, align: 'left' },
                { label: 'Updated', name: 'EditDate', editable: false, align: 'center', fixed: true, width: 100, formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d M Y H:i" } },
                { label: 'Action', name: 'Action', editable: false, align: 'center', fixed: true, width: 60, formatter: actionFormatter },
            ],
            loadonce: true,
            width: 'auto',
            height: '100%',
            caption: 'Unit',
            pager: "#" + childGridPagerID
        });

    }

    function actionFormatter(cellvalue, options, rowObject) {
        var btn = "<div class='table-link'>";
        btn += "<a href='#' class='@ViewBag.canUpdate btn btn-sm btn-primary text-white' onclick=\"editUnits('" + rowObject.UnitId + "','" + rowObject.UnitName + "','" + rowObject.ParentId + "','" + rowObject.UnitLevel + "','" + rowObject.Remarks + "')\" datatoogle='tooltip' title='Edit @ViewBag.Title [ " + rowObject.UnitName + " ]'>";
        btn += "<span class='fa fa-pencil'></span>";
        btn += "</a> ";
        btn += "<a href='#' class='@ViewBag.canDelete btn btn-sm btn-danger text-white' onclick=\"removeUnits('" + rowObject.UnitId + "','" + rowObject.UnitName + "','" + rowObject.ParentId + "','" + rowObject.UnitLevel + "','" + rowObject.Remarks + "')\" datatoogle='tooltip' title='Delete @ViewBag.Title [ " + rowObject.UnitName + " ]'>";
        btn += "<span class='fa fa-trash'></span>";
        btn += "</a></div>";
        return btn;
    }

    function reloadGridUnits() {
        var filterData = $('#searchFilter').val();
        $("#jqGridMain").jqGrid('setGridParam', {
            datatype: 'json',
            mtype: 'GET',
            postData: {
                searchFilter: filterData,
            }
        }).trigger('reloadGrid');
    };

    function doSuccess(data, action) {
        loadComboParentUnit();
        switch (action) {
            case "create":
                showToast("Success", "Create " + data.UnitName + " has been saved succesfully");
                return reloadGridUnits();
                break;
            case "update":
                showToast("Success", "Update " + data.UnitName + " has been saved succesfully");
                return reloadGridUnits();
                break;
            case "delete":
                showToast("Failed", "Delete " + data.UnitName + " has been removed succesfully");
                return reloadGridUnits();
                break;
        }
    }

    $("#searchFilter").on('keypress', function (e) {
        if (e.which == 13) {
            $("#btnFilter").button().click();
        }
    });

    $("#export").on("click", function () {

        exportGrid('#jqGridMain','A4','@ViewBag.Title');

    })

    $(document).ready(function () {
        loadComboParentUnit();
    });

    function loadComboParentUnit() {
        $.ajax({
            url: '@Url.Action("UnitsListJson", "Measurements")',
            type: "GET",
            dataType: "JSON",
            data: {},
            success: function (response) {

                $('.app-section .modal select').each(function () {

                    var id = "#" + this.id;

                    $(id).html("");
                    $(id).append(
                        $('<option></option>').val("").html("*Choose Parent")
                    );
                    $(id).append(
                        $('<option></option>').val("*").html("*")
                    );
                    $.each(response, function (i, units) {
                        $(id).append(
                            $('<option></option>').val(units.UnitId).html(units.UnitName)
                        );
                    });
                });
            }
        })
    }

</script>

<!-- toast-alert -->
@Html.Partial("_VSSPLayout/Messages/toast_alert")
