
<section class="padding-100-70 white-gray-bg" id="termcondition">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>Terms & Condition</h2>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12 text-justify">
                @{

                    string compwebsite = @Session["CompName"].ToString() + " - " + @Session["AppID"].ToString();

                    <h4>
                        Welcome to the website @compwebsite,
                    </h4>
                    <p>
                        @compwebsite site is managed by @Session["CompName"].ToString() (hereinafter referred to as 'us'). The following Terms and Conditions of Use are the conditions for visiting sites, content, services and features available on the @compwebsite website.
                    </p>
                    <p>
                        We hope that you will read the Terms and Conditions of Use carefully. By accessing and using the website @compwebsite, you understand and agree to be bound and subject to all regulations that apply on this site. If you do not agree to be bound by all applicable regulations, please do not access this site. 
                    </p>
                    <h6>CHANGES</h6>
                    <p>to Terms and Conditions of Use.</p>
                    <p>
                        We can change, change, add or reduce these Terms and Conditions of Use at any time. You are bound by each of these changes and therefore must periodically view this page to check your applicable Terms and Conditions of Use. 
                    </p>
                    <h6>ADDITIONAL</h6>
                    <p>Terms and Conditions of Use.</p>
                    <p>
                        Some areas or services of the @compwebsite website, such as pages where you can upload or download documents or files, can have guidelines and visiting regulations that will add to these Terms and Conditions of Use. By using these services, you agree to be bound by these applicable visiting guidelines and regulations. 
                    </p>
                    <h6>CHANGES</h6>
                    <p>to the website @compwebsite.</p>
                    <p>
                        We may not continue or change services or features on the @compwebsite website at any time and without prior notice. 
                    </p>
                    <h4>
                        Registered visitors
                    </h4>
                    <p>
                        Services on this site, are only provided for visitors who have registered and visitors must register by providing the correct data complete with user ID to use it. As a registered visitor, you are required to follow all the rules of the service visit. 
                    </p>
                    <h4>
                        VISITORS OBLIGATIONS
                    </h4>
                    <p>
                        Visitors to the @Session["compid"].ToString() website must be 17 years of age or older and must comply with the laws and regulations in the territory of the Republic of Indonesia.
                    </p>
                    <h6>
                        You are prohibited from loading or forwarding through the website @compwebsite material or other matters that:
                    </h6>
                    <p>
                        Loading or forwarding through the website @compwebsite material or other things that are offensive, triggering conflict and or hostility between ethnic, religious, racial, and intergroup groups (SARA). Breaking the law, threatening, insulting, harassing, slandering, defaming, deceiving, cheating, or causing hatred to certain people or groups. Violate or violate the rights of others, including without exception, patents, trademarks, trade secrets, copyrights, publicity or other property rights. Persecuting, harassing, demeaning or intimidating individuals or groups of individuals based on religion, gender, sexual orientation, race, ethnicity, age or physical disability. Breaking the norms of decency, obscene, pornography. Encouraging or suggesting actions that violate the law. Contains words or images that are rough, dirty, dirty, and expletive. Spread certain ideologies or teachings which in principle are prohibited by applicable law in the territory of the Republic of Indonesia. Distribute files or programs containing viruses or other computer code that damage, disrupt, and / or limit the function of computer software or hardware and / or communication equipment, and / or allow the use of unauthorized computers and / or computer networks.
                    </p>
                    <h6>
                        In the use of the website @compwebsite. You agree to:
                    </h6>
                    <p>
                        Provide accurate, new and complete information about yourself when filling out the registration form on the @compwebsite website. Safeguard your password and identification. Maintain and periodically update information about yourself and other information accurately, new and complete. Accept all risks from illegal access to information and registration data. Responsible for the protection and backup of data and / or equipment used. You are not permitted to use the @compwebsite website in any condition or manner that could damage, disable, overburden and / or interfere with the server or network of the @compwebsite website. You are also not allowed to access services, user accounts, computer systems or networks illegally, by means of hacking, password mining, and / or other means. We will cooperate fully with any law enforcement official or court order requesting or directing us to reveal the identity of anyone who loads the material or information as mentioned above.
                    </p>
                    <h4>
                        Permitted Usage
                    </h4>
                    <p>
                        You have limited, revocable, non-transferable and non-exclusive rights to use this website solely for informational purposes or to evaluate our company and its products and services.
                    </p>
                    <p>
                        You are not permitted to use the contents of our website for other purposes, purposes or purposes without our prior written statement. For example, but not limited:
                    </p>
                    <p>
                        You may not or authorize other parties to frame our website content or display our website content together with other websites without our written permission.
                    </p>
                    <p>
                        Co-brand our website or any part of our website without prior written permission from us. The definition of "co-brand" is displaying the name, brand, logo or attribute or identification of a person or a company with the aim of giving the public the impression that the party concerned is related or a member or even a branch of the mark.
                    </p>
                    <h4>
                        Account blocking or deletion
                    </h4>
                    <p>
                        We reserve the right to block and delete user accounts that are in direct violation of our terms and conditions, or those who experience interference, disorder or that indicate problems among the user community on @compwebsite. 
                    </p>
                    <h6>RIGHT OF OWNERSHIP</h6>
                    <p>
                        All designs, drawings, artwork, audio, video and programming code (hereinafter referred to as "content") on the site @compwebsite are our copyright. You are not permitted to modify, copy, modify or add design designs, drawings, artwork, audio, video and programming code in this facility under any circumstances or conditions. 
                    </p>
                    <h6>VISITORS LICENSE website @compwebsite</h6>
                    <p>
                        You are permitted to use the @compwebsite website and the content offered on the @compwebsite website is only for personal use, not for commercial purposes. You can use content that is allowed to be uploaded, such as photos and videos, for personal use and according to regulations on the content in question.
                    </p>
                    <p>
                        You may not reproduce, print, copy, save, publish, publish, distribute, modify, translate, publish, transfer, sell, lend, and / or distribute @compwebsite website content without our written permission. 
                    </p>
                    <h6>CONTENT loaded for public consumption</h6>
                    <p>
                        Some areas or services on the @compwebsite website allow you to load or send content that can be accessed and viewed by other visitors, including the general public. You are only allowed to load or post content on public pages on the website @compwebsite that you created yourself or you have permission to load it. You may not load content that violates these Terms and Conditions of Use. We do not claim ownership of the content that you load. However, by loading content on the public area of the @compwebsite website, you provide guarantees to us, our affiliates and distributors to use, copy, display, display, distribute, adapt, and promote the content in various media. 
                    </p>
                    <h6>SUPERVISION</h6>
                    <p>
                        You agree that we are not responsible for the content provided by other parties. We have no obligation to check the content, but we reserve the right to refuse to load or edit the content sent. We have the right to delete content for various reasons, but we are not responsible for the failure or delay in deleting the material. 
                    </p>
                    <h4>PRIVACY POLICY</h4>
                    <p>
                        The @compwebsite website privacy policy discloses the policy of handling your personal data when you access the @compwebsite website. use of the @compwebsite website regularly and continuously shows your agreement to our Privacy Policy. 
                    </p>
                    <h4>OTHER SITE LINKS</h4>
                    <p>
                        The @compwebsite website may provide links to various third-party sites, including links provided on search results pages. Some of these sitelinks may contain material that is objectionable, unlawful or inaccurate. The link does not indicate that we agree to the third party site. You acknowledge and agree that we are not responsible for the content or other material available on these third party sites. Every agreement and transaction between you and the advertiser on @compwebsite is between you and the advertiser and you acknowledge and agree that we are not responsible for any loss or claim that may be caused by the agreement or transaction between you and the advertiser, the link intended only as your reference material. @compwebsite is not responsible for the accuracy, completeness, and correctness of the material on these websites.
                    </p>
                }
            </div>
        </div>
    </div>
</section>

