<div class="modal animated fadeIn" id="crudReturnPartModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-primary" role="document" style="width:90% !important">
        <div class="modal-content">
            <form id="crudReturnPartForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h6 class="modal-title"><span class="fa fa-plus-square"></span> @ViewBag.Title</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group-sm p-0 m-1 row">
                                <label for="crud-ReturnPartNumber" class="col-sm-3 col-form-label col-form-label-sm">Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm bg-white" placeholder="Auto Generate" id="crud-ReturnPartNumber">
                                </div>
                            </div>
                            <div class="form-group form-group-sm p-0 m-1 row">
                                <label for="crud-ReturnPartDate" class="col-sm-3 col-form-label col-form-label-sm">Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control form-control-sm bg-white datepicker" id="crud-ReturnPartDate" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-group-sm p-0 m-1 row">
                                <label for="crud-ReturnPartSupplierId" class="col-sm-3 col-form-label col-form-label-sm">Supplier</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm selectpicker" data-live-search="true" data-size="8" id="crud-ReturnPartSupplierId" name="SupplierId" required></select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm p-0 m-1 row">
                                <label for="crud-ReturnPartIncomingDate" class="col-sm-3 col-form-label col-form-label-sm">Incoming</label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <input type="date" class="form-control form-control-sm bg-white border-right-0 datepicker" style="width:70px" id="crud-ReturnPartIncomingDate" name="IncomingDate" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                        <input type="time" class="form-control form-control-sm bg-white" id="crud-ReturnPartIncomingTime" name="IncomingTime" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-sm p-0 m-1 row">
                                <label for="crud-ReturnPartRemarks" class="col-sm-4 col-form-label col-form-label-sm">Remarks</label>
                                <div class="col-sm-8">
                                    <textarea rows="2" class="form-control form-control-sm bg-white" id="crud-ReturnPartRemarks" name="Remarks"></textarea>
                                </div>
                            </div>
                            

                        </div>
                        <div class="col-md-12 pt-2">
                            <table id="jqGridCrudSupplierDetail"></table>
                            <div id="jqGridPagerCrudSupplierDetail"></div>
                        </div>
                    </div>

                    <div id="crudReturnPartError"></div>
                    <input type="hidden" id="ReturnPartAction" />

                </div>
                <div class="modal-footer">

                    <div class="ml-3" style="position:absolute; left:0 !important">
                        <div class="row">
                            <div class="col">
                                <button id="btn-scanReturnPartDetail" type="button" class="btn btn-sm btn-outline-dark" onclick="crudReturnPartDetail('Scan','')" hidden><span class="fa fa-qrcode"></span> Scan QRCode</button>
                                <button id="btn-addReturnPartDetail" type="button" class="btn btn-sm btn-outline-dark" style="margin-top: 0 !important" onclick="crudReturnPartDetail('Create','')"><span class="fa fa-plus"></span> New Part Item</button>
                            </div>
                        </div>
                    </div>

                    <button id="btn-crudReturnPart" type="submit" class="btn btn-sm btn-primary btn-spin" dismiss="modal"><span class="fa fa-dot-circle-o"></span> Submit</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div id="contextMenu" class="dropdown clearfix">
    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <a class="dropdown-item pt-1 pb-1 border-bottom-0 small" href="#" onclick="selectContextMenu(1,this)"><i class="fa fa-check text-dark"></i> Select</a>
        <a class="dropdown-item pt-1 pb-1 small" href="#" onclick="selectContextMenu(2,this)"><i class="fa fa-check-square-o text-dark"></i> Select All</a>
        <a class="dropdown-item pt-1 pb-1 border-bottom-0 small" href="#" onclick="selectContextMenu(3,this)"><i class="fa fa-times text-dark"></i> Unselect</a>
        <a class="dropdown-item pt-1 pb-1 small" href="#" onclick="selectContextMenu(4,this)"><i class="fa fa-times-rectangle-o text-dark"></i> Unselect All</a>
        <a class="dropdown-item pt-1 pb-1 border-bottom-0 small text-danger" href="#" onclick="selectContextMenu(5,this)"><i class="fa fa-trash-o text-danger"></i> Delete selected</a>
    </div>
</div>

<div class="modal animated fadeIn" id="crudReturnPartDetailModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="crudReturnPartDetailForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h6 class="modal-title"><span class="fa fa-plus-square"></span> ReturnPartDetail</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="#" id="btn-searchPart" class="btn btn-sm btn-outline-primary" onclick="callFilterStockRawReturn()"><span class="fa fa-search"></span> Find Part Number</a>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailUniqueNumber" class="col-md-4 col-form-label col-form-label-sm">Unique Number</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm bg-light" id="crud-ReturnPartDetailUniqueNumber" required readonly>
                                </div>
                            </div>
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailPartNumber" class="col-md-4 col-form-label col-form-label-sm">Part Number</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm bg-light" id="crud-ReturnPartDetailPartNumber" readonly>
                                </div>
                            </div>
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailPartName" class="col-md-4 col-form-label col-form-label-sm">Part Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm bg-light" id="crud-ReturnPartDetailPartName" readonly>
                                </div>
                            </div>
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailPartModel" class="col-md-4 col-form-label col-form-label-sm">Model</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm bg-light" id="crud-ReturnPartDetailPartModel" readonly>
                                </div>
                            </div>
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailPackingId" class="col-md-4 col-form-label col-form-label-sm">Type Packing</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm bg-light" id="crud-ReturnPartDetailPackingId" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailUnit" class="col-md-4 col-form-label col-form-label-sm">Unit</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm bg-light" id="crud-ReturnPartDetailUnit" readonly>
                                </div>
                            </div>
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailStockQty" class="col-md-4 col-form-label col-form-label-sm">NG Stock</label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-sm" title="NG Stock Qty">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">QTY</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" id="crud-ReturnPartDetailStockQty" required>
                                    </div>
                                </div>                                
                            </div>                            
                            <div class="form-group form-group-sm row">
                                <label for="crud-ReturnPartDetailReturnUnitQty" class="col-md-4 col-form-label col-form-label-sm">Return Unit Qty</label>
                                <div class="col-md-4">
                                    <input type="number" min="1" class="form-control form-control-sm" id="crud-ReturnPartDetailReturnUnitQty" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="ReturnPartDetailAction" />
                    <input type="hidden" id="ReturnPartDetailRowStatus" />
                    <div id="crudReturnPartDetailError"></div>

                </div>
                <div class="modal-footer">
                    <div class="ml-3" style="position:absolute;left:0">
                        <a href="#" id="btn-prev" class="btn btn-sm btn-outline-primary" onclick="crudReturnPartDetailMove('prev')"><span class="fa fa-arrow-left fa-2x"></span></a>
                        <a href="#" id="btn-next" class="btn btn-sm btn-outline-primary" onclick="crudReturnPartDetailMove('next')"><span class="fa fa-arrow-right fa-2x"></span></a>
                    </div>
                    <button id="btn-crudReturnPartDetail" type="submit" class="btn btn-sm btn-primary btn-spin" dismiss="modal"><span class="fa fa-dot-circle-o"></span> Submit</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>

    var canSelect = false;

    $('#crudReturnPartDetailModal').on('keydown', 'input, select', function (e) {
        if (e.which === 13) {
            var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
            focusable = form.find('input').filter(':visible');
            next = focusable.eq(focusable.index(this) + 1);
            if (next.length) {
                next.focus();
            }
            if (this.id === "crud-ReturnPartDetailReturnUnitQty") {
                $("#btn-crudReturnPartDetail").focus();
            };
            return false;
        }
    });

    function crudReturnPart(action, id) {

        //call partial on _Layout
        loadblockspinner();
        $('#search_content').html("").load('@Url.Action("SearchPartStockRawReturn","Search")');

        document.getElementById("crudReturnPartForm").reset();
        $('#crudReturnPartForm').removeClass('was-validated');
        $('#crudReturnPartError').html("");
        $('#btn-addReturnPartDetail').removeAttr('disabled');
        $('#btn-scanReturnPartDetail').removeAttr('disabled');
        $("#btn-crudReturnPart").html("<span class='fa fa-dot-circle-o'></span> Submit");
        $("#crudReturnPartForm input,select").each(function () {
            $(this).removeAttr("readonly").removeAttr("disabled").removeClass('error').next('label.error').remove().val("");
        });

        $("#crud-showhide").removeAttr("checked");
        $("#approvalInfo").text("");
        $("#ReturnPartAction").val(action);

        var newdate = '@ViewBag.DateTime';
        newdate = moment(new Date(newdate)).format("YYYY-MM-DD");

        if (id != "*") {
            var Grid = $('#jqGridMain'),
                selectedRowId = id,
                ReturnPartStatus         = Grid.jqGrid('getCell', selectedRowId, 'Status').split('>'),
                ReturnPartDate           = Grid.jqGrid('getCell', selectedRowId, 'ReturnDate'),
                ReturnPartSupplierId     = Grid.jqGrid('getCell', selectedRowId, 'SupplierId'),
                ReturnPartIncomingDate   = Grid.jqGrid('getCell', selectedRowId, 'IncomingDate'),
                ReturnPartIncomingTime   = Grid.jqGrid('getCell', selectedRowId, 'IncomingTime'),
                ReturnPartApproval       = Grid.jqGrid('getCell', selectedRowId, 'Approval'),
                ReturnPartRemarks        = Grid.jqGrid('getCell', selectedRowId, 'Remarks');

            ReturnPartDate = moment(new Date(ReturnPartDate)).format("YYYY-MM-DD");
            ReturnPartIncomingDate = moment(new Date(ReturnPartIncomingDate)).format("YYYY-MM-DD");
            ReturnPartStatus = ReturnPartStatus[1].split('<')
            //ReturnPartIncomingTime = moment(new Date(ReturnPartIncomingTime)).format("H:i");

            $("#crud-ReturnPartNumber").val(id);
            $("#crud-ReturnPartDate").val(ReturnPartDate);
            $("#crud-ReturnPartSupplierId").val(ReturnPartSupplierId);
            $("#crud-ReturnPartIncomingDate").val(ReturnPartIncomingDate);
            $("#crud-ReturnPartIncomingTime").val(ReturnPartIncomingTime);
            $("#crud-ReturnPartRemarks").val(ReturnPartRemarks);
            $("#approvalInfo").text(ReturnPartApproval);

            var showhide=''
            if (ReturnPartStatus[0] === 'Open') {
                showhide = 'showCol';
                canSelect = true;
            } else {
                showhide = 'hideCol';
                canSelect = false;
            }
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "cb")
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "Action")
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "RowStatus")
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "StockQty")
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "StockKanban")
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "OutstandingKanban")
            $("#jqGridCrudSupplierDetail").jqGrid(showhide, "OutstandingQty")

        }

        $(".selectpicker").selectpicker('refresh');

        switch (action) {
            case "Create":

                canSelect = true;
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "cb")
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "Action")
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "RowStatus")
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "StockQty")
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "StockKanban")
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "OutstandingKanban")
                $("#jqGridCrudSupplierDetail").jqGrid('showCol', "OutstandingQty")

                $("#crud-ReturnPartNumber").attr("readonly", true);
                $("#crud-ReturnPartDate").attr("readonly", true);
                //$("#crud-ReturnPartIncomingDate").attr("readonly", true); open start 19-jan-2023 req pak dewi
                //$("#crud-ReturnPartIncomingTime").attr("readonly", true); open s/d 19-mar-2021 req pak ahmad
                $("#crud-ReturnPartReturnUnitQty").attr("readonly", true);
                $("#crud-ReturnPartDate").val(newdate);
                $("#crudReturnPartModal .modal-dialog").removeClass("modal-success").removeClass("modal-danger").removeClass("modal-warning").removeClass("modal-info").addClass("modal-primary")
                $("#crudReturnPartModal .modal-title").html('<span class="fa fa-plus-square"></span> '+ action + ' @ViewBag.Title');
                $('#crudReturnPartModal').modal('show');
                $("#crud-ReturnPartSupplierId").focus();
                break;
            case "Update":
                $("#crud-ReturnPartNumber").attr("readonly", true);
                $("#crud-ReturnPartDate").attr("readonly", true);
                $("#crud-ReturnPartSupplierId").attr("disabled", true);
                $("#crud-ReturnPartIncomingDate").attr("readonly", true);
                $("#crud-ReturnPartIncomingTime").attr("readonly", true);
                $("#crud-ReturnPartReturnUnitQty").attr("readonly", true);
                $("#crudReturnPartModal .modal-dialog").removeClass("modal-primary").removeClass("modal-danger").removeClass("modal-warning").removeClass("modal-info").addClass("modal-success")
                $("#crudReturnPartModal .modal-title").html('<span class="fa fa-pencil-square"></span> '+ action + ' @ViewBag.Title');
                $('#crudReturnPartModal').modal('show');
                $("#crud-ReturnPartRemarks").focus();
                break;
            case "Delete":
                $("#crudReturnPartForm input").each(function () {
                    $(this).attr("disabled",true);
                });
                $("#crud-ReturnPartSupplierId").attr("disabled", true);
                $('#btn-addReturnPartDetail').attr('disabled', true);
                $('#btn-scanReturnPartDetail').attr('disabled', true);
                $("#btn-crudReturnPart").html("<span class='fa fa-trash'></span> Delete");
                $("#crudReturnPartModal .modal-dialog").removeClass("modal-primary").removeClass("modal-success").removeClass("modal-warning").removeClass("modal-info").addClass("modal-danger")
                $("#crudReturnPartModal .modal-title").html('<span class="fa fa-trash"></span> '+ action + ' @ViewBag.Title');
                $('#crudReturnPartModal').modal('show');
                break
            case "Canceled":
                $("#crudReturnPartForm input").each(function () {
                    $(this).attr("disabled",true);
                });
                $("#crud-ReturnPartSupplierId").attr("disabled", true);
                $('#btn-addReturnPartDetail').attr('disabled', true);
                $('#btn-scanReturnPartDetail').attr('disabled', true);
                $("#btn-crudReturnPart").html("<span class='fa fa-ban'></span> Cancel Order");
                $("#crudReturnPartModal .modal-dialog").removeClass("modal-primary").removeClass("modal-success").removeClass("modal-danger").removeClass("modal-info").addClass("modal-warning")
                $("#crudReturnPartModal .modal-title").html('<span class="fa fa-ban"></span> '+ action + ' @ViewBag.Title');
                $('#crudReturnPartModal').modal('show');
                break
            case "Closed":
                $("#crudReturnPartForm input").each(function () {
                    $(this).attr("disabled",true);
                });
                $("#crud-ReturnPartSupplierId").attr("disabled", true);
                $('#btn-addReturnPartDetail').attr('disabled', true);
                $('#btn-scanReturnPartDetail').attr('disabled', true);
                $("#btn-crudReturnPart").html("<span class='fa fa-sign-out'></span> Closing Order");
                $("#crudReturnPartModal .modal-dialog").removeClass("modal-primary").removeClass("modal-success").removeClass("modal-danger").removeClass("modal-warning").addClass("modal-info")
                $("#crudReturnPartModal .modal-title").html('<span class="fa fa-sign-out"></span> '+ action + ' @ViewBag.Title');
                $('#crudReturnPartModal').modal('show');
                break
        }

        reloadGridSupplierDetail();

    }

    $('#crud-ReturnPartSupplierId').change(function () {
        $('#crudReturnPartError').html("");
    });


    $(function () {
        var focusedElement;
        $(document).on('focus', 'input', function () {
            if (focusedElement == this) return; //already focused, return so user can now place cursor at specific point in input.
            focusedElement = this;
            setTimeout(function () { focusedElement.select(); }, 100); //select all text in any field on focus for easy re-entry. Delay sightly to allow focus to "stick" before selecting.
        });
    });

    $(function () {
        $gridSupplierDetail = $("#jqGridCrudSupplierDetail").jqGrid({
            url: "@Url.Action("ReturnPartDetailListJson", "Purchase")",
            mtype: "GET",
            datatype: "json",
            postData: { returnnumber: "*" },
            colModel: [
                { label: 'ACTION', name: 'Action', editable: false, align: 'center', fixed: true, width: 80, sortable: false, formatter: actionSupplierDetailFormatter },
                { label: 'STATUS', name: 'RowStatus', editable: false, align: 'center', fixed: true, width: 60, sortable: false, formatter: statusCrudFormatter },
                { label: 'UNIQUE NUMBER', name: 'UniqueNumber', align: 'center', fixed: true, width: 80, sortable: false },
                { label: 'PART NUMBER', name: 'PartNumber', key: true, align: 'center', fixed: true, width: 160, sortable: false },
                { label: 'PART NAME', name: 'PartName', align: 'left', fixed: true, width: 310, sortable: false },
                { label: 'MODEL', name: 'PartModel', align: 'center', fixed: true, width: 80, sortable: false },
                { label: 'UNIT', name: 'UnitLevel2', align: 'center', fixed: true, width: 80, sortable: false },
                { label: 'TYPE PACKING', name: 'PackingId', align: 'center', fixed: true, width: 80, sortable: false },
                { label: 'NG STOCK QTY', name: 'StockQty', align: 'right', fixed: true, width: 80, formatter: 'number', sortable: false },
                { label: 'RETURN QTY', name: 'ReturnUnitQty', align: 'right', fixed: true, width: 80, formatter: 'number', sortable: false },
            ],
            gridview: true,
            //pager: '#jqGridPagerCrudSupplierDetail',
            loadonce: true,
            height: 220,
            pgbuttons: false,
            pgtext: null,
            viewrecords: true,
            rowNum: 9999,
            rownumbers: true,
            rownumWidth: 30,
            autoresizeOnLoad: true,
            autowidth: true,
            multiselect: true,
            shrinkToFit: true,
            fromServer: true,
            loadComplete: function () {
                var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                var action = $("#ReturnPartAction").val();
                for (i = 0; i < l; i++) {
                    $this.jqGrid('editRow', ids[i], true);
                    if (action === "Create") {
                        parameters =
                        {
                            RowStatus: action,
                        }
                        $("#jqGridCrudSupplierDetail").jqGrid('setRowData', ids[i], parameters);
                    }
                }
            },
            ondblClickRow: function (rowid) {
                crudReturnPartDetail("Update", rowid);
            },
        });
        $('#jqGridCrudSupplierDetail').jqGrid('navGrid', '#jqGridPagerCrudSupplierDetail',
            { search: false, edit: false, add: false, del: false},
        );

    });

    function reloadGridSupplierDetail() {

        var formaction  = $("#ReturnPartAction").val();
        var supplierid  = $("#crud-ReturnPartSupplierId").val();
        var returnnumber = $("#crud-ReturnPartNumber").val();

        $("#jqGridCrudSupplierDetail").jqGrid('setGridParam', {
            datatype: 'json',
            mtype: 'GET',
            postData: {
                returnnumber: returnnumber,
                supplierid: supplierid,
                formAction: formaction,
            }
        }).trigger('reloadGrid');

    };

    function actionSupplierDetailFormatter(cellvalue, options, rowObject) {
        var rowid = rowObject.PartNumber;
        var formaction = $("#ReturnPartAction").val();
        var canupdate = '@ViewBag.canUpdate';
        var candelete = '@ViewBag.canDelete';

        if (formaction === "Closed" || formaction === "Canceled" || formaction === "Delete") {
            canupdate = "disabled";
            candelete = "disabled";
        }

        var btn = "<div class='table-link'>";
        btn += "<a href='#' id='btn-update" + rowid + "' class='btn btn-sm btn-primary text-white " + canupdate + "' onclick=\"crudReturnPartDetail('Update','" + rowid + "')\" datatoogle='tooltip' title='Edit @ViewBag.Title Item [ " + rowObject.PartNumber + " ]'>";
        btn += "<span class='fa fa-pencil'></span>";
        btn += "</a> ";
        btn += "<a href='#' id='btn-delete" + rowid + "' class='btn btn-sm btn-danger text-white " + candelete + "' onclick=\"crudReturnPartDetail('Delete','" + rowid + "')\" datatoogle='tooltip' title='Delete @ViewBag.Title Item [ " + rowObject.PartueNumber + " ]'>";
        btn += "<span class='fa fa-trash-o'></span>";
        btn += "</a></div>";
        return btn;
    }


    function statusCrudFormatter(cellvalue, options, rowObject) {
        var action = $("#ReturnPartAction").val();
        switch (cellvalue) {
            case "Create":
                return "<span class='badge badge-primary'>New</span>"
                break;
            case "Update":
                return "<span class='badge badge-success'>Updated</span>"
                break;
            case "Delete":
                return "<span class='badge badge-danger'>Removed</span>"
                break;
            default:
                //if (action === "Create") {
                //    return "<span class='badge badge-primary'>New</span>"
                //} else {
                //    return "";
                //}
                return "";
                break;
        }
    }

    function crudReturnPartDetailMove(action) {
        var $grid = $("#jqGridCrudSupplierDetail");
        var id = $("#crud-ReturnPartDetailPartNumber").val();
        var rowIndex = $grid.jqGrid('getInd', id);
        var dataIDs = $grid.getDataIDs();
        var datalen = (dataIDs.length) - 1;

        $("#btn-prev").removeClass("disabled");
        $("#btn-next").removeClass("disabled");


        switch (action) {
            case "prev":

                rowIndex = parseInt(rowIndex) - 2;

                if (dataIDs.length >= rowIndex && rowIndex >= 0) {

                    var prevID = dataIDs[rowIndex];
                    crudReturnPartDetail("Update", prevID)
                    $grid.setSelection(prevID, false);

                }

                if (rowIndex <= 0) {
                    $("#btn-prev").addClass("disabled");
                }

                break;

            case "next":

                if (dataIDs.length > rowIndex) {

                    var nextID = dataIDs[rowIndex];
                    crudReturnPartDetail("Update", nextID)
                    $grid.setSelection(nextID, false);

                }

                if (datalen <= rowIndex) {
                    $("#btn-next").addClass("disabled");
                }

                break;

        }

    }

    function crudReturnPartDetail(action, id) {

        document.getElementById("crudReturnPartDetailForm").reset();
        $('#crudReturnPartDetailForm').removeClass('was-validated');
        $('#crudReturnPartError').html("");
        $('#crudReturnPartDetailError').html("");
        $("#btn-crudReturnPartDetail").html("<span class='fa fa-dot-circle-o'></span> Submit");
        $("#btn-prev").addClass("disabled");
        $("#btn-next").addClass("disabled");
        $("#btn-searchPart").removeClass("disabled");

        $("#crudReturnPartDetailForm :input").each(function () {
            $(this).removeAttr("readonly").removeAttr("disabled").removeClass('error').next('label.error').remove().val("");
        });

        $("#ReturnPartDetailAction").val(action);
        var supplierid = $("#crud-ReturnPartSupplierId").val();

        if (supplierid === "") {
            var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b>Not completed fields!</b><br/>Please type Supplier completely before add @ViewBag.Title Detail.</small></div>'
            $('#crudReturnPartError').html(errMsg);
            return false;
        }

        if (id != "") {
            var $grid = $("#jqGridCrudSupplierDetail");
            var rowData = $grid.jqGrid("getRowData", id),
                RowStatus = rowData.RowStatus.split(">"),
                UniqueNumber = rowData.UniqueNumber,
                PartNumber = rowData.PartNumber,
                PartName = rowData.PartName,
                Model = rowData.PartModel,
                QtyByKanban = rowData.UnitQty,
                Unit = rowData.UnitLevel2,
                PackingId = rowData.PackingId,
                StockQty = rowData.StockQty,
                StockKanban = rowData.StockKanban,
                ReturnUnitQty = rowData.ReturnUnitQty;

            if (RowStatus != "") {
                RowStatus = RowStatus[1].split("<");
                RowStatus = RowStatus[0];
            }

            var OnOrder = GetOnOrderStock($("#crud-ReturnPartNumber").val(), $("#crud-ReturnPartSupplierId").val(), PartNumber);
            if (OnOrder === null || OnOrder === "") {
                OnOrder = 0;
            }
            var MaxOrder = parseInt(StockQty) - parseInt(StockKanban) - parseInt(OnOrder);
            var MinOrder = 1;
            if (parseInt(MaxOrder) < 1) {
                MinOrder = 1;
                MaxOrder = 0;
            }

            $("#ReturnPartDetailRowStatus").val(RowStatus);
            $("#crud-ReturnPartDetailUniqueNumber").val(UniqueNumber);
            $("#crud-ReturnPartDetailPartNumber").val(PartNumber);
            $("#crud-ReturnPartDetailPartName").val(PartName);
            $("#crud-ReturnPartDetailPartModel").val(Model);
            $("#crud-ReturnPartDetailUnitQty").val(QtyByKanban);
            $("#crud-ReturnPartDetailUnit").val(Unit);
            $("#crud-ReturnPartDetailPackingId").val(PackingId);
            $("#crud-ReturnPartDetailStockQty").val(StockQty);
            $("#crud-ReturnPartDetailReturnUnitQty").val(ReturnUnitQty);

        }

        switch (action) {
            case "Create":
                $("#crud-ReturnPartDetailUniqueNumber").attr("disabled", true);
                $("#crud-ReturnPartDetailPartNumber").attr("disabled", true);
                $("#crud-ReturnPartDetailPartName").attr("disabled", true);
                $("#crud-ReturnPartDetailPartModel").attr("disabled", true);
                $("#crud-ReturnPartDetailUnitQty").attr("disabled", true);
                $("#crud-ReturnPartDetailUnit").attr("disabled", true);
                $("#crud-ReturnPartDetailPackingId").attr("disabled", true);
                $("#crud-ReturnPartDetailStockQty").attr("disabled", true);
                $("#crudReturnPartDetailModal .modal-dialog").removeClass("modal-success").removeClass("modal-danger").addClass("modal-primary")
                $("#crudReturnPartDetailModal .modal-title").html('<span class="fa fa-plus-square"></span> ' + action + ' @ViewBag.Title Item');
                $('#crudReturnPartDetailModal').modal('show');
                $("#btn-searchPart").focus();
                break;
            case "Update":
                $("#crud-ReturnPartDetailUniqueNumber").attr("disabled", true);
                $("#crud-ReturnPartDetailPartNumber").attr("disabled", true);
                $("#crud-ReturnPartDetailPartName").attr("disabled", true);
                $("#crud-ReturnPartDetailPartModel").attr("disabled", true);
                $("#crud-ReturnPartDetailUnitQty").attr("disabled", true);
                $("#crud-ReturnPartDetailUnit").attr("disabled", true);
                $("#crud-ReturnPartDetailPackingId").attr("disabled", true);
                $("#crud-ReturnPartDetailStockQty").attr("disabled", true);
                $("#crudReturnPartDetailModal .modal-dialog").removeClass("modal-primary").removeClass("modal-danger").addClass("modal-success")
                $("#crudReturnPartDetailModal .modal-title").html('<span class="fa fa-pencil-square"></span> ' + action + ' @ViewBag.Title Item');
                $('#crudReturnPartDetailModal').modal('show');
                $("#crud-ReturnPartDetailReturnUnitQty").focus().select();

                var rowIndex = $grid.jqGrid('getInd', PartNumber);
                var dataIDs = $grid.getDataIDs();
                var datalen = (dataIDs.length);

                $("#btn-prev").removeClass("disabled");
                $("#btn-next").removeClass("disabled");

                if (rowIndex === 1) {
                    $("#btn-prev").addClass("disabled");
                }
                if (rowIndex === datalen) {
                    $("#btn-next").addClass("disabled");
                }
                break;
            case "Delete":
                $("#crudReturnPartDetailForm input").each(function () {
                    $(this).attr("disabled", true);
                });
                $("#btn-searchPart").addClass("disabled");
                $("#btn-crudReturnPartDetail").html("<span class='fa fa-trash'></span> Delete");
                $("#crudReturnPartDetailModal .modal-dialog").removeClass("modal-primary").removeClass("modal-success").addClass("modal-danger")
                $("#crudReturnPartDetailModal .modal-title").html('<span class="fa fa-trash"></span> ' + action + ' @ViewBag.Title Item');
                $('#crudReturnPartDetailModal').modal('show');
                break
        }
    }

    $(document).ready(function () {
        $(function () {
            $("#crudReturnPartDetailForm").submit(function (event) {

                $(this).validate();
                event.preventDefault();

                if ($("#crud-ReturnPartDetailPartNumber").val() === "") {
                    showToast("Failed", "Please select part before submit.");
                    event.preventDefault();
                    event.stopPropagation();
                    return false;
                }

                if ($(this).valid()) {

                    var action = $('#ReturnPartDetailAction').val();
                    var rowStatus = $('#ReturnPartDetailRowStatus').val();

                    switch (action) {
                        case "Create":

                            parameters =
                            {
                                rowID: $("#crud-ReturnPartDetailPartNumber").val(),
                                initdata: {
                                    RowStatus: action,
                                    UniqueNumber: $("#crud-ReturnPartDetailUniqueNumber").val(),
                                    PartNumber: $("#crud-ReturnPartDetailPartNumber").val(),
                                    PartName: $("#crud-ReturnPartDetailPartName").val(),
                                    PartModel: $("#crud-ReturnPartDetailPartModel").val(),
                                    UnitLevel2: $("#crud-ReturnPartDetailUnit").val(),
                                    PackingId: $("#crud-ReturnPartDetailPackingId").val(),
                                    StockQty: $("#crud-ReturnPartDetailStockQty").val(),
                                    ReturnUnitQty: $("#crud-ReturnPartDetailReturnUnitQty").val(),
                                },
                                position: "last",
                            }

                            $("#jqGridCrudSupplierDetail").jqGrid('addRow', parameters);
                            showToast("Success", "Create @ViewBag.Title " + $("#crud-ReturnPartDetailPartName").val() + " has been saved succesfully");
                            $('#crudReturnPartDetailModal').modal('hide');

                            break;

                        case "Update":

                            var rowid = $("#crud-ReturnPartDetailPartNumber").val()

                            if (rowStatus != "New") {
                                rowStatus = action
                            } else {
                                rowStatus = "Create"
                            }

                            parameters =
                            {
                                RowStatus: rowStatus,
                                ReturnUnitQty: $("#crud-ReturnPartDetailReturnUnitQty").val(),
                            }

                            $("#jqGridCrudSupplierDetail").jqGrid('setRowData', rowid, parameters);
                            showToast("Success", "Update @ViewBag.Title " + $("#crud-ReturnPartDetailPartName").val() + " has been saved succesfully");

                            var lastrow = $("#btn-next").hasClass("disabled");
                            if (lastrow === true) {
                                $('#crudReturnPartDetailModal').modal('hide');
                            } else {
                                $("#btn-next").click();
                            }

                            break;

                        case "Delete":

                            var rowid = $("#crud-ReturnPartDetailPartNumber").val()

                            if (rowStatus === "New") {
                                $('#jqGridCrudSupplierDetail').jqGrid('delRowData', rowid);
                            } else {
                                parameters =
                                {
                                    RowStatus: action,
                                }
                                $("#jqGridCrudSupplierDetail").jqGrid('setRowData', rowid, parameters);
                            }

                            showToast("Failed", "Delete @ViewBag.Title " + $("#crud-ReturnPartDetailPartName").val() + " has been removed succesfully");
                            $('#crudReturnPartDetailModal').modal('hide');

                            break;
                    }
                    unloadblockspinner();

                } else {
                    unloadblockspinner();

                }
            });
        });
    });
    $(document).ready(function () {

        $(function () {
            $("#crudReturnPartForm").submit(function (event) {
                event.preventDefault();
                if ($(this).valid()) {

                    var $grid = $("#jqGridCrudSupplierDetail");
                    var dataIDs = $grid.getDataIDs();
                    var datalen = (dataIDs.length);
                    var formaction = $("#ReturnPartAction").val();

                    if (datalen === 0 && formaction != "Delete") {
                        alert("Please add Part Item for @ViewBag.Title before submit.");
                        unloadblockspinner();
                        event.stopPropagation;
                        return false;
                    }

                    var formData = new FormData();

                    var jsonData = {
                        ReturnPart: {
                            ReturnNumber : $("#crud-ReturnPartNumber").val(),
                            ReturnDate   : $("#crud-ReturnPartDate").val(),
                            SupplierId  : $("#crud-ReturnPartSupplierId").val(),
                            IncomingDate: $("#crud-ReturnPartIncomingDate").val(),
                            IncomingTime: $("#crud-ReturnPartIncomingTime").val(),
                            Remarks     : $("#crud-ReturnPartRemarks").val(),
                            Status      : null,
                            EditDate    : null,
                            UserID      : null
                        },
                        ReturnPartDetail: $("#jqGridCrudSupplierDetail").jqGrid('getGridParam', 'data'),
                        ApprovalId: '@ViewBag.ApprovalId',
                        uid: "@ViewBag.UserId",
                        formAction: $("#ReturnPartAction").val()
                    };

                    $.each(jsonData.ReturnPartDetail, function (i, details) {
                        if (details.ReturnUnitQty === 0) {
                            alert("Unit Qty has 0 order. Please check order qty carefully at part number "+ details.PartNumber +".");
                            return false
                        }
                    });

                    formData.append("jsonData", JSON.stringify(jsonData));

                    $.ajax({
                        url: '@Url.Action("crudReturnPartList", "Purchase")',
                        type: 'POST',
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        dataType: "JSON",
                        data: formData,
                        async: false,
                        success: function (data) {
                            $('#crudReturnPartModal').modal('hide');
                            var act = $("#ReturnPartAction").val();
                            act = act.toLowerCase();
                            doSuccess(data, act);
                        },
                        error: function (xhr, desc, err) {
                            var responsetext = "";
                            try {
                                responsetext = eval(xhr.responseText);
                            } catch {
                                responsetext = xhr.responseText;
                            }
                            var errMsg = '<div class="alert alert-warning mt-2" role="alert"><small class="text-danger"><b> Error ' + xhr.status + '!</b><br/>' + responsetext + '</small></div>'
                            $('#crudReturnPartError').html(errMsg);
                        }
                    });
                } else {
                    unloadblockspinner();
                }
            });
        });
    });

    loadComboSupplier();

    function loadComboSupplier() {

        supplierid = $("#crud-ReturnPartSupplierId").val();

        $.ajax({
            url: '@Url.Action("SupplierListJson", "Suppliers")',
            type: "GET",
            dataType: "JSON",
            data: { SupplierId:supplierid },
            success: function (response) {

                var id = "#crud-ReturnPartSupplierId";

                $(id).html("");
                $(id).append(
                    $('<option></option>').val("").html("*Choose Supplier")
                );
                $.each(response, function (i, sup) {
                    $(id).append(
                        $('<option></option>').val(sup.SupplierId).html(sup.SupplierName)
                    );
                });

            }
        })
    }

    function loadComboRawMaterial(sid) {

        if (sid === "*") {
            sid = $("#crud-KanbanReturnPartNumber").val();
        }

        $.ajax({
            url: '@Url.Action("RawMaterialsListJson", "ReturnParts")',
            type: "GET",
            dataType: "JSON",
            data: { searchFilter: sid },
            success: function (response) {

                var id = "#crud-KanbanPartNumberRawMaterial";

                $(id).html("");
                $(id).append(
                    $('<option></option>').val("").html("*Choose Raw Material")
                );

                $.each(response, function (i, raw) {
                    $(id).append(
                        $('<option></option>').val(raw.PartNumber).html(raw.PartNumber + ' : ' + raw.PartName)
                    );
                });
            }
        })
    }

    function callFilterStockRawReturn() {

        var supplierid = $("#crud-ReturnPartSupplierId").val();
        var partexist = $("#jqGridCrudSupplierDetail").getDataIDs();

        var status = $("#ReturnPartDetailAction").val()
        if (status === "Update") {
            partexist = "";
        }
        showfilterPartStockRawReturn(supplierid, partexist);

    }

    $(document).on('hide.bs.modal', '#filterPartStockRawReturnModal', function (e) {
        if ($("#search_result").val() != "") {
            var searchresult = JSON.parse($("#search_result").val());
            var action = $("#ReturnPartDetailAction").val();

            setTimeout(function () {

                if (searchresult.length != 0) {

                    switch (action) {
                        case "Create":
                            $("#crud-ReturnPartDetailUniqueNumber").val(searchresult.UniqueNumber);
                            $("#crud-ReturnPartDetailPartNumber").val(searchresult.PartNumber);
                            $("#crud-ReturnPartDetailPartName").val(searchresult.PartName);
                            $("#crud-ReturnPartDetailPartModel").val(searchresult.PartModel);
                            $("#crud-ReturnPartDetailStockQty").val(searchresult.StockQty);
                            $("#crud-ReturnPartDetailUnitQty").val(searchresult.UnitQty);
                            $("#crud-ReturnPartDetailUnit").val(searchresult.UnitLevel2);
                            $("#crud-ReturnPartDetailPackingId").val(searchresult.PackingId);

                            var OnOrder = GetOnOrderStock($("#crud-ReturnPartNumber").val(), searchresult.SupplierId, searchresult.PartNumber);
                            if (OnOrder === null || OnOrder === "") {
                                OnOrder = 0;
                            }
                            var MaxOrder = parseInt(searchresult.StockQty);
                            var MinOrder = 1;
                            if (parseInt(MaxOrder) < 1) {
                                MinOrder = 1;
                                MaxOrder = 0;
                            }

                            //$("#crud-ReturnPartDetailOnOrderQty").val(OnOrder);
                            $("#crud-ReturnPartDetailReturnUnitQty").val(MaxOrder).attr("min", MinOrder).attr("max", MaxOrder).focus().select();

                            break;
                        case "Update":

                            crudReturnPartDetail(action, searchresult.PartNumber);
                            $("#crud-ReturnPartDetailReturnUnitQty").focus().select();

                            break;
                    }
                }
            }, 100);
        }

    });

    function GetOnOrderStock(ReturnNumber,supplierid,partnumber) {

        var OnOrder = 0;

        $.ajax({
            url: '@Url.Action("GetOnOrderStock", "Purchase")',
            type: "GET",
            dataType: "JSON",
            async: false,
            data: {
                ReturnNumber: ReturnNumber,
                supplierid: supplierid,
                partnumber: partnumber
            },
            success: function (response) {

                $.each(response, function (i, stock) {
                    OnOrder = stock.OnOrder;
                    //console.log(OnOrder);
                });
            }
        })

        return OnOrder;
    }

</script>
<script>
    var dataSelected = [];

    $(function () {

        /* call selectable */
        $("#jqGridCrudSupplierDetail").selectable({
            filter: 'tbody tr',
            selecting: function (event, ui) {
                dataSelected = []
            },
            selected: function (event, ui) {
                //console.log(ui);
                //console.log("SELECTED " + ui.selected["id"]);
                dataSelected.push(ui.selected.id)
            }
        });


        /* call context menu */
        var $contextMenu = $("#contextMenu");

        $("body").on("contextmenu", "#jqGridCrudSupplierDetail", function (e) {
            
            if (!canSelect) return false;

            $contextMenu.css({
                display: "block",
                left: e.pageX,
                top: e.pageY
            });
            //debugger;
            return false;
        });

        $('html').click(function () {
            $contextMenu.hide();
        });

        $("#contextMenu li a").click(function (e) {
            var f = $(this);
            //debugger;
        });

    });

    function selectContextMenu(id, obj) {

        var i, count, $grid = $("#jqGridCrudSupplierDetail");
        var selRows = $grid.jqGrid('getGridParam', 'selarrrow');
        var dataall = $grid.getDataIDs();

        switch (id) {
            case 1:
                var datasel = dataSelected.filter((item) => !selRows.includes(item));
                for (i = 0, count = datasel.length; i < count; i += 1) {
                    $grid.jqGrid('setSelection', datasel[i], true);
                }
                break;
            case 2:
                var datasel = dataall.filter((item) => !selRows.includes(item));
                for (i = 0, count = datasel.length; i < count; i += 1) {
                    $grid.jqGrid('setSelection', datasel[i], false);
                }
                break;
            case 3:
                var datasel = dataSelected.filter((item) => selRows.includes(item));
                for (i = 0, count = datasel.length; i < count; i += 1) {
                    $grid.jqGrid('setSelection', datasel[i], false);
                }
                break;
            case 4:
                var datasel = dataall.filter((item) => selRows.includes(item));
                for (i = 0, count = datasel.length; i < count; i += 1) {
                    $grid.jqGrid('setSelection', datasel[i], false);
                }
                break;
            case 5:
                var selectedRows = $grid.getGridParam('selarrrow');
                var data = [];
                $.each(selectedRows, function (i, sel) {
                    data.push(sel);
                });
                $.each(data, function (i, rowid) {
                    $grid.jqGrid('delRowData', rowid);
                });
                break;
        }
    }
</script>

<style>
    .ui-selected {
        background-color: #b6ff00
    }

        .ui-selected:hover {
            background-color: #00ff21
        }

    #contextMenu {
        position: absolute;
        display: none;
        z-index: 2028;
    }
</style>